html
    head
        style.
            li:hover {
                color: #f00;
                cursor: pointer;
            }
        script.
            const base = '/update'
            let time;

            function $(id) {
                return document.getElementById(id);
            }

            function $$(ele) {
                return document.createElement(ele);
            }

            function load(name) {
                fetch(base+'?action=select&val='+encodeURIComponent(name)).then(update);
            }

            function reload() {
                fetch('/list')
                    .then(res => res.json())
                    .then(res => {
                        const list = $('list');
                        list.innerHTML = '';

                        res.list.forEach(item => {
                            const li = $$('li');

                            li.onclick = () => load(item);
                            li.innerText = item;
                            list.appendChild(li);
                        });
                    });

                fetch(base).then(update);
            }

            function update(msg) {
                msg.json().then(res => {
                    $('title').innerText = res.title;
                });
            }

            function next() {
                fetch(base+'?action=next').then(update);
            }

            function skip(val) {
                fetch(base+`?action=skip&val=${val*1000}`).then(update);
            }
    body(onload='reload();')
        h1#title
        ul#list
        .btns
            button(onclick='reload()') reload
            button(onclick='next()') next
            button(onclick='skip(-10)') <<<
            button(onclick='skip(-5)') <<
            button(onclick='skip(5)') >>
            button(onclick='skip(10)') >>>
