html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        script(src='script.js')
    style.
        body {
            text-align: center;
        }

        .app {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        button {
            padding: 0.5rem 1rem;
            text-transform: uppercase;
        }
    body
        .app
            h1 radio leggo
            h2#title
            audio#song
            button(onclick='start();') start
            p#details
            .timer
                button(onclick='delay(-1);') <<
                button(onclick='delay(1);') >>
